<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset Confirm</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script> <!-- This should be your compiled React JS file -->
</head>
<body>
    <div id="root"></div> <!-- This is where your React app will be rendered -->
    <script>
        // Ensure you pass the necessary props to the React component
        window.uidb64 = "{{ uidb64 }}";
        window.token = "{{ token }}";
    </script>
</body>
</html>
