.fcontainer{
    display: flex;
    border: 2px solid gray;
    height: auto;
    align-content: center;
    flex-direction:column;
    justify-content: center;
    justify-items: flex-end;
    flex-wrap: nowrap;
    

}
.container{
    display: grid;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(215, 125, 125);
}
.fitem{
    background-color: rgb(246, 246, 246);
    /* border: 1px solid black; */
    margin: 7px;
    width: auto;
    height: auto;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.para{
    text-align: center;
}